.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the video behind the content */
    overflow: hidden; /* Ensure the video doesn't overflow the viewport */
}

.video-background video {
    object-fit: cover; /* Ensure the video covers the entire background */
    width: 100%;
    height: 100%;
    max-width: 100%; /* Prevents video from exceeding container width */
    max-height: 100%; /* Prevents video from exceeding container height */
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    background: #1e1e24;
    align-items: center;
    justify-content: center;
  }
  
  
  .btn-flip{
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans';
    text-transform: uppercase;
    
    &:hover{
      
      &:after{
        opacity: 1;
        transform: translateY(0) rotateX(0);
      }
      
      &:before{
        opacity: 0;
        transform: translateY(50%) rotateX(90deg);
      }
    }
    
    &:after{
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      color: #323237;
      display: block;
      transition: 0.5s;
      position: absolute;
      background: #fcbc5d;
      content: attr(data-back);
      transform: translateY(-50%) rotateX(90deg);
      border-radius:2em;
    }
    
    &:before{
      top: 0;
      left: 0;
      opacity: 1;
      color: #fcb75d;
      display: block;
      padding: 0 30px;
      line-height: 40px;
      transition: 0.5s;
      position: relative;
      background: #714c32;
      content: attr(data-front);
      border-radius:2em;
      transform: translateY(0) rotateX(0);
    }
  }

.hidden {
    display: none;  
}

